<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxm.palmcampus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zxm.palmcampus.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity 
            android:name=".base.impl.setting.SettingCodeActivity"
            android:label="@string/app_name" />
        <activity 
            android:name=".base.impl.setting.SettingNotify" 
            android:label="@string/app_name"/>
        <activity 
            android:name=".base.impl.setting.SettingVersionActivity" 
            android:label="@string/app_name"/>
        <activity 
            android:name=".base.impl.setting.SettingHomeActivity" 
            android:label="@string/app_name"/>
        <activity 
            android:name=".base.impl.setting.SettingLoginActivity" 
            android:label="@string/app_name"/>
        <activity 
            android:name=".base.impl.setting.SettingRegisterActivity" 
            android:label="@string/app_name"/>
        <activity 
            android:name="com.zxm.palmcampus.base.home.syllabus.Syllabus" 
            android:label="@string/app_name"/>
        <activity 
            android:name="com.zxm.palmcampus.base.home.syllabus.activity.CourseInfoActivity" 
            android:label="@string/app_name"/>
    </application>

</manifest>